// This file is from the first version that the config became stable
// We should never make a change that causes this file to fail to parse

// Default config for ferrishot
//
// Create this file in the appropriate place with `ferrishot --dump-default-config`
//
// You can remove all of the defaults, and just keep your overrides
// if you want to do that

// Show the size indicator
size-indicator #true
// Show icons around the selection
selection-icons #true

keys {
  // Leave the app
  exit key=<esc>

  // Copies selected region to clipboard, exiting
  copy-to-clipboard mod=ctrl key=c
  copy-to-clipboard key=<enter>

  // Save to a file
  save-screenshot mod=ctrl key=s

  // Upload and make a link
  upload-screenshot mod=ctrl key=u

  // Set selection to be the entire screen
  // You can use the syntax of `ferrishot --region` here (see `--help` for more info)
  select-region "full" key=<f11>

  // Remove the selection
  clear-selection mod=ctrl key=x

  // These 2 commands let you pick any area on the screen in 8 keystrokes
  pick-top-left-corner key=t
  pick-bottom-right-corner key=b

  open-keybindings-cheatsheet key=?

  // Set width/height to whatever is the current count.
  // You can change the count by just writing numbers. e.g. type `100X` to set
  // the width to 100px
  set-width key=X
  set-height key=Y

  // move the selection in a direction by 1px
  move left 1 key=h
  move left 1 key=<left>
  move down 1 key=j
  move down 1 key=<down>
  move up 1 key=k
  move up 1 key=<up>
  move right 1 key=l
  move right 1 key=<right>

  // extend a side by 1px
  extend left 1 key=H
  extend left 1 mod=shift key=<left>
  extend down 1 key=J
  extend down 1 mod=shift key=<down>
  extend up 1 key=K
  extend up 1 mod=shift key=<up>
  extend right 1 key=L
  extend right 1 mod=shift key=<right>

  // shrink a side by 1px
  shrink left 1 mod=ctrl key=h
  shrink left 1 mod=ctrl key=<left>
  shrink down 1 mod=ctrl key=j
  shrink down 1 mod=ctrl key=<down>
  shrink up 1 mod=ctrl key=k
  shrink up 1 mod=ctrl key=<up>
  shrink right 1 mod=ctrl key=l
  shrink right 1 mod=ctrl key=<right>

  // move rectangle in direction by 125px
  move left 125 mod=alt key=h
  move left 125 mod=alt key=<left>
  move down 125 mod=alt key=j
  move down 125 mod=alt key=<down>
  move up 125 mod=alt key=k
  move up 125 mod=alt key=<up>
  move right 125 mod=alt key=l
  move right 125 mod=alt key=<right>

  // extend a side by 125px
  extend left 125 mod=alt key=H
  extend left 125 mod=alt+shift key=<left>
  extend down 125 mod=alt key=J
  extend down 125 mod=alt+shift key=<down>
  extend up 125 mod=alt key=K
  extend up 125 mod=alt+shift key=<up>
  extend right 125 mod=alt key=L
  extend right 125 mod=alt+shift key=<right>

  // shrink a side by 125px
  shrink left 125 mod=ctrl+alt key=h
  shrink left 125 mod=ctrl+alt key=<left>
  shrink down 125 mod=ctrl+alt key=j
  shrink down 125 mod=ctrl+alt key=<down>
  shrink up 125 mod=ctrl+alt key=k
  shrink up 125 mod=ctrl+alt key=<up>
  shrink right 125 mod=ctrl+alt key=l
  shrink right 125 mod=ctrl+alt key=<right>

  // move selection as far as it can go
  move left key=gh
  move left key=g<left>
  move down key=gj
  move down key=g<down>
  move up key=gk
  move up key=g<up>
  move right key=gl
  move right key=g<right>

  // teleport the selection to a place
  goto top-left key=gg
  goto bottom-right key=G
  goto center key=gc
  goto x-center key=gx
  goto y-center key=gy

  // for debugging / development
  toggle-debug-overlay key=<f12>
}

// editing the `theme` section allows you to fully customize the appearance of ferrishot

theme {
  // Backslash `\` lets you split it the palette over multiple lines
  palette \
    accent = 0xab_61_37 \
    fg = 0xff_ff_ff \
    bg = 0x00_00_00
  
  // color of the frame around the selection
  //
  // Uses the `accent` color from the `palette`
  selection-frame accent
  
  // background color of the region that is not selected
  non-selected-region bg opacity=0.5
  
  // small drop shadow used, an example is around the selection and also
  // around icons surrounding the selection
  drop-shadow bg opacity=0.5
  
  // selected text, for instance when editing the size indicator
  text-selection accent opacity=0.3
  
  size-indicator-fg fg
  size-indicator-bg bg opacity=0.5
  
  tooltip-fg fg
  tooltip-bg bg
  
  error-fg fg
  // Use a custom hex color
  error-bg 0xff_00_00 opacity=0.6
  
  info-box-fg fg
  info-box-border fg
  info-box-bg accent opacity=0.95
  
  icon-fg fg
  icon-bg accent

  // letters let you pick any region of the screen in 8 clicks
  // keys: t (top left corner), b (bottom right corner)
  letters-lines fg
  letters-bg bg opacity=0.6
  letters-fg fg

  // image uploaded popup (ctrl + U)
  image-uploaded-fg fg
  image-uploaded-bg bg opacity=0.9

  // for example, the checkmark when you copy to clipboard
  success 0x00_ff_00

  cheatsheet-bg bg
  cheatsheet-fg fg

  popup-close-icon-bg bg opacity=0.0
  popup-close-icon-fg fg

  // debug menu, for development (F12)
  debug-fg fg
  debug-label 0xff_00_00
  debug-bg bg opacity=0.9
}

