[lib]
proc-macro = true

[package]
name = "peashot-macros"
version = "0.1.0"
edition = "2024"

[dependencies]
heck = "0.5.0"
itertools = "0.14.0"
proc-macro2 = "1.0.103"
quip = "0.1.0"
quote = "1.0.42"
syn = { version = "2.0.111", features = ["full"] }
